---
# Set update schedule for GitHub Actions

version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
    labels:
      - "github_actions"
      - "chore"
      - "dependencies"
    groups:
      github-actions:
        patterns:
          - "*"
  # Maintain dependencies for NPM Modules
  - package-ecosystem: "npm"
    # Look for `package.json` and `lock` files in the `root` directory
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "chore"
    groups:
      typescript-eslint:
        patterns:
          - "@typescript-eslint/*"
          - "typescript-eslint"
      vite-ecosystem:
        patterns:
          - "vite"
          - "@vitejs/*"
      vitest-ecosystem:
        patterns:
          - "vitest"
          - "@vitest/*"
      eslint-plugins:
        patterns:
          - "eslint-plugin-*"
      testing:
        patterns:
          - "@testing-library/*"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react*"
      other-dependencies:
        patterns:
          - "*"
  # Maintain dependencies for Devcontainer dependencies
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "chore"
    groups:
      devcontainer:
        patterns:
          - "*"